body {
  padding-left: 35px;
  padding-right: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#middle-float {
  overflow: auto;
  height: 450px;
}

.map-collapse {
  height: 100%;
}

a {
  color: #00B7FF;
}
